* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff; 
  overflow-x: hidden;
}

:root {
  --slot-height: 36px; /* default zoom = 1 */
}
